.aqua{
    color: aqua;
}
div{
    background-color: black;
    width: 300px;
    height: 200px;
    text-align: center;
}
.green{
    color: greenyellow;
}
.gold{
    color: gold;
}
.purpple{
    color: purple;
}
.red{
    color: red;
}
.d{
    color: white;
}